@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar {
  scrollbar-width: none;
  transition: scrollbar-width 0.3s ease;
}
.custom-scrollbar:hover {
  scrollbar-width: thin;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  transition: width 0.3s ease;
}
.custom-scrollbar:hover::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
.custom-scrollbar::-moz-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.custom-scrollbar:hover::-moz-scrollbar-thumb {
  background: #cbd5e1;
}
