@import "tailwindcss";

/* 样式类定义（来自 style.css）*/
.style_1 {
  min-width: 0px;
  min-height: 0px;
  margin: 0px -407px 0px 0px;
  margin-inline-end: -407px;
  top: 0px;
  right: 54px;
  bottom: 0px;
  left: -54px;
  inset-inline-start: -54px;
  inset-inline-end: 54px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "PingFang SC";
  text-overflow: clip;
  border: 0px none rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}
